 /* style.css */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

header {
    background-color: #333;
    color: #fff;
	justify-content: space-between;
    padding: 10px; 
	display: flex;
    align-items: center;
}
header img {
    width: 200px; /* Adjust the width as needed */
    height: auto; /* Maintain aspect ratio */
    
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;  
	text-align: right; 
}

nav li {
	display: inline-block;
}

nav li a {
    display: block; 
    color: #fff; 
	font-size: 22px;
   text-align: center; 
    padding: 20px; 
    text-decoration: none;
	font-weight: bold;
  float: right;
  border-radius: 3px;
	
}

nav li a:hover {
    background-color: #111;
}

img {
  max-width: 100%;
  height: auto;
}

@media (max-width: 768px) {
  /* Styles for mobile devices */
  img {
    /* Adjust specific properties like margin, padding, or width as needed */
  }
}


/*-------------------------------------------------------------------------- start about us section --------------------------------------------------*/
#about-us {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
	background-image: url('images/contact1.webp');
	background-size: cover;
}

#about-us .container {
    max-width: 1200px;
    margin: 50px auto; 
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
	
}

#about-us h1, h2 {
    text-align: center;
    margin-bottom: 20px;
}

#about-us p {
    text-align: center;
    margin-bottom: 20px;
}
#about-us .row {
    display: flex;
    flex-wrap: wrap;
}

#about-us .col-md-6 {
    flex: 0 0 50%;
    max-width: 50%;
}

#about-us .img-fluid {
    max-width: 100%;
    height: auto;
}
/* ----------------------------------------------end of aboutus section------------------------------------------------------------- */




/* ---------------------------------------------------start of foooter section---------------------------------------------------- */
 footer {
  background-color: #333; /* Adjust background color as needed */
  padding: 20px;
  color: white;
}

.content-wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%; 
}

.box {
  flex: 1 1 300px;
  margin: 10px;
}
h3{
	text-align: center;
	text-decoration: underline;
	margin: 5px;
	
}
.box p{
	padding:0;
	margin: 5px;
	color: #888;
}


.social-media a {
  display: inline-block;
  margin-right: 10px;
}

.credit {
	text-align: center;
  font-size: 0.8em;
  color: #888;
}
/* Media Queries */
@media (max-width: 768px) {
  .box {
    flex: 1 1 100%; /* Make boxes full width on smaller screens */
  }
}
  
  /*----------------------------------------------------- end of footer section -----------------------------------------------------------*/


   

